@model MenuClass.Menu
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh worrying!</strong> @localizer.GetLocalizedHtmlString(ViewBag.Error)
    </div>
}

<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("Update Menu")</h6>
    </div>
    <div class="ms-panel-body">
        <form class="needs-validation" novalidate asp-action="edit" method="post">
            <div class="col-xl-12 col-md-12">
                <div class="form-row">
                    <div class="col-md-12">
                        <label>@localizer.GetLocalizedHtmlString("Menu ID")</label> <span class="required-star">*</span>
                        <div class="input-group">
                            <input type="text" asp-for="Id" readonly autocomplete="off" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("ID")" required>
                            <div class="valid-feedback">
                                @localizer.GetLocalizedHtmlString("Looks good!")
                            </div>
                            <div class="invalid-feedback">
                                @localizer.GetLocalizedHtmlString("Menu item id name is required.")
                            </div>
                        </div>
                        <label>@localizer.GetLocalizedHtmlString("Description")</label> <span class="required-star">*</span>
                        <div class="input-group">
                            <input type="text" asp-for="Description" autocomplete="off" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("Description")" required>
                            <div class="valid-feedback">
                                @localizer.GetLocalizedHtmlString("Looks good!")
                            </div>
                            <div class="invalid-feedback">
                                @localizer.GetLocalizedHtmlString("Description is required.")
                            </div>
                        </div>
                        <label>@localizer.GetLocalizedHtmlString("khmer Description")</label> <span class="required-star">*</span>
                        <div class="input-group">
                            <input type="text" asp-for="KhmerDescription" autocomplete="off" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("Khmer Description")" required>
                            <div class="valid-feedback">
                                @localizer.GetLocalizedHtmlString("Looks good!")
                            </div>
                            <div class="invalid-feedback">
                                @localizer.GetLocalizedHtmlString("Khmer description is required.")
                            </div>
                        </div>
                        <label>@localizer.GetLocalizedHtmlString("Icon")</label> <span class="required-star">*</span>
                        <div class="input-group">
                            <input type="text" asp-for="Icon" autocomplete="off" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("Icon")" required>
                            <div class="valid-feedback">
                                @localizer.GetLocalizedHtmlString("Looks good!")
                            </div>
                            <div class="invalid-feedback">
                                @localizer.GetLocalizedHtmlString("Icon is required.")
                            </div>
                        </div>
                        <label>@localizer.GetLocalizedHtmlString("Menu Item")</label> <span class="required-star">*</span>
                        <div class="input-group">
                            <select asp-for="MenuItems" multiple class="select2 form-control" required asp-items="ViewBag.MenuItem">
                            </select>
                            <div class="valid-feedback">
                                @localizer.GetLocalizedHtmlString("Looks good!")
                            </div>
                            <div class="invalid-feedback">
                                @localizer.GetLocalizedHtmlString("Menu item is required.")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" type="submit">@localizer.GetLocalizedHtmlString("Update")</button>
                        <a class="btn btn-primary" asp-action="index">@localizer.GetLocalizedHtmlString("Back to List")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>
