@model OtherProductModel

<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3">
                <!--Category Menu Start-->
                <div class="category-menu category-menu-2">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>categories</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            <li class="right-menu">
                                <a href="shop-left-sidebar.html">Laptops</a>
                                <ul class="cat-mega-menu" style="">
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Prime Video</a>
                                        <ul style="">
                                            <li><a href="#">All Videos</a></li>
                                            <li><a href="#">Blouses</a></li>
                                            <li><a href="#">Evening Dresses</a></li>
                                            <li><a href="#">Summer Dresses</a></li>
                                            <li><a href="#">T-shirts</a></li>
                                            <li><a href="#">Rent or Buy</a></li>
                                            <li><a href="#">Your Watchlist</a></li>
                                            <li><a href="#">Watch Anywhere</a></li>
                                            <li><a href="#">Getting Started</a></li>
                                        </ul>
                                    </li>
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Computers</a>
                                        <ul style="">
                                            <li><a href="#">More to Explore</a></li>
                                            <li><a href="#">TV &amp; Video</a></li>
                                            <li><a href="#">Audio &amp; Theater</a></li>
                                            <li><a href="#">Camera, Photo</a></li>
                                            <li><a href="#">Cell Phones</a></li>
                                            <li><a href="#">Headphones</a></li>
                                            <li><a href="#">Video Games</a></li>
                                            <li><a href="#">Wireless Speakers</a></li>
                                        </ul>
                                    </li>
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Electronics</a>
                                        <ul style="">
                                            <li><a href="#">Amazon Home</a></li>
                                            <li><a href="#">Kitchen &amp; Dining</a></li>
                                            <li><a href="#">Furniture</a></li>
                                            <li><a href="#">Bed &amp; Bath</a></li>
                                            <li><a href="#">Appliances</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="right-menu">
                                <a href="shop-left-sidebar.html">TV &amp; Audio</a>
                                <ul class="cat-mega-menu" style="">
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Chamcham</a>
                                        <ul style="">
                                            <li><a href="#">Office</a></li>
                                            <li><a href="#">Gaming</a></li>
                                            <li><a href="#">Chromebook</a></li>
                                            <li><a href="#">Refurbished</a></li>
                                            <li><a href="#">Touchscreen</a></li>
                                            <li><a href="#">Ultrabooks</a></li>
                                            <li><a href="#">Netbook</a></li>
                                        </ul>
                                    </li>
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Sanai</a>
                                        <ul style="">
                                            <li><a href="#">Hard Drives</a></li>
                                            <li><a href="#">Graphic Cards</a></li>
                                            <li><a href="#">Processors (CPU)</a></li>
                                            <li><a href="#">Memory</a></li>
                                            <li><a href="#">Motherboards</a></li>
                                            <li><a href="#">Fans &amp; Cooling</a></li>
                                            <li><a href="#">CD/DVD Drives</a></li>
                                        </ul>
                                    </li>
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Meito</a>
                                        <ul style="">
                                            <li><a href="#">Sound Cards</a></li>
                                            <li><a href="#">Cases &amp; Towers</a></li>
                                            <li><a href="#">Casual Dresses</a></li>
                                            <li><a href="#">Evening Dresses</a></li>
                                            <li><a href="#">T-shirts</a></li>
                                            <li><a href="#">Tops</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="right-menu">
                                <a href="shop-left-sidebar.html">Smartphone</a>
                                <ul class="cat-mega-menu cat-mega-menu-2" style="">
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Camera Accessories</a>
                                        <ul style="">
                                            <li><a href="#">Octa Core</a></li>
                                            <li><a href="#">Quad Core</a></li>
                                            <li><a href="#">Dual Core</a></li>
                                            <li><a href="#">7.0 Screen</a></li>
                                            <li><a href="#">9.0 Screen</a></li>
                                            <li><a href="#">Bags &amp; Cases</a></li>
                                        </ul>
                                    </li>
                                    <li class="right-menu cat-mega-title">
                                        <a href="shop-left-sidebar.html">Meito</a>
                                        <ul style="">
                                            <li><a href="#">Batteries</a></li>
                                            <li><a href="#">Microphones</a></li>
                                            <li><a href="#">Stabilizers</a></li>
                                            <li><a href="#">Video Tapes</a></li>
                                            <li><a href="#">Memory Card Readers</a></li>
                                            <li><a href="#">Tripods</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Cameras</a></li>
                            <li><a href="#">Headphone</a></li>
                            <li><a href="#">Smartwatch</a></li>
                            <li><a href="#">Out Door Room</a></li>
                            <li><a href="#">Chamcham</a></li>
                            <li class="rx-child"><a href="#">Mobile &amp; Tablets</a></li>
                            <li class="rx-child"><a href="#">Accessories</a></li>
                            <li class="rx-parent">
                                <a class="rx-default">More Categories</a>
                                <a class="rx-show">Less Categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-6 col-md-8">
                <div class="slider-area slider-area-3 pt-sm-30 pt-xs-30 pb-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-7">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>Chamcham Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>$589.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-8">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Starting at <span>$1599.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-9">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Starting at <span>$809.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-3 col-md-4 text-center pt-sm-30">
                <div class="li-banner">
                    <a href="#">
                        <img src="~/Plugin/images/banner/3_1.jpg" alt="">
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-25 mb-xs-5">
                    <a href="#">
                        <img src="~/Plugin/images/banner/3_2.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Static Top Area -->
@*<div class="static-top-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="static-top-content mt-sm-30">
                    Gift Special: Gift every single day on Weekends - New Coupon code "
                    <span>LimupaSaleoff</span>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Static Top Area End Here -->
<!-- product-area start -->
<div class="product-area pt-55 pb-25 pt-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#li-new-product"><span>New Arrival</span></a></li>
                        <li><a data-toggle="tab" href="#li-bestseller-product"><span>Bestseller</span></a></li>
                        <li><a data-toggle="tab" href="#li-featured-product"><span>Featured Products</span></a></li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        <!-- single-product-wrap start -->
                        @foreach (var item in Model.Data.ProductArrival)
                        {
                            <div class="col-lg-12">
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                            <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Graphic Corner</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);

                                                    <span class="new-price new-price-2">@item.Currency@price</span>
                                                    <span class="old-price">@item.Currency@item.Price</span>
                                                    <span class="discount-percentage">-@item.DiscountValue@(item.DiscountType== "Percent" ? "%" : item.Currency)</span>
                                                }
                                                else {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#">Add to cart</a></li>
                                                <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="li-bestseller-product" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.Data.ProductBestseller)
                        {
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                            <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                        </a>
                                        @if (item.CreateDate.CheckArriralItem())
                                        {
                                            <span class="sticker">New</span>
                                        }
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Studio Design</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);

                                                    <span class="new-price new-price-2">@item.Currency@price</span>
                                                    <span class="old-price">@item.Currency@item.Price</span>
                                                    <span class="discount-percentage">-@item.DiscountValue@(item.DiscountType=="Percent"?"%" : item.Currency)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#">Add to cart</a></li>
                                                <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="li-featured-product" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.Data.FeatureProduct)
                        {
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                            <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                        </a>
                                        @if (item.CreateDate.CheckArriralItem())
                                        {
                                            <span class="sticker">New</span>
                                        }
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Studio Design</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);

                                                    <span class="new-price new-price-2">@item.Currency@price</span>
                                                    <span class="old-price">@item.Currency@item.Price</span>
                                                    <span class="discount-percentage">-@item.DiscountValue@(item.DiscountType=="Percent"?"%" : item.Currency)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#">Add to cart</a></li>
                                                <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product-area end -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner li-static-banner-4 text-center pt-20">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-6">
                <div class="single-banner pb-sm-30 pb-xs-30">
                    <a href="#">
                        <img src="~/Plugin/images/banner/2_3.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-6">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Plugin/images/banner/2_4.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's TV & Audio Product Area -->
<section class="product-area li-laptop-product li-tv-audio-product pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span><span style="color:red;font-size:30px;">-</span> Featured Products <span style="color:red;font-size:30px;">-</span></span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model.Data.FeatureProduct)
                        {
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                            <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                        </a>
                                        @if (item.CreateDate.CheckArriralItem())
                                        {
                                            <span class="sticker">New</span>
                                        }
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Studio Design</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);

                                                    <span class="new-price new-price-2">@item.Currency@price</span>
                                                    <span class="old-price">@item.Currency@item.Price</span>
                                                    <span class="discount-percentage">-@item.DiscountValue@(item.DiscountType=="Percent"?"%" : item.Currency)</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#">Add to cart</a></li>
                                                <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's TV & Audio Product Area End Here -->
<!-- Begin Li's Static Home Area -->
<div class="li-static-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Li's Static Home Image Area -->
                <div class="li-static-home-image"></div>
                <!-- Li's Static Home Image Area End Here -->
                <!-- Begin Li's Static Home Content Area -->
                <div class="li-static-home-content">
                    <p>Sale Offer<span>-20% Off</span>This Week</p>
                    <h2>Featured Product</h2>
                    <h2>Sanai Accessories 2018</h2>
                    <p class="schedule">
                        Starting at
                        <span> $1209.00</span>
                    </p>
                    <div class="default-btn">
                        <a href="shop-left-sidebar.html" class="links">Shopping Now</a>
                    </div>
                </div>
                <!-- Li's Static Home Content Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Li's Static Home Area End Here -->
<!-- Begin Group Featured Product Area -->
@{ 
    var product1 = Model.Data.FeatureProduct.Take(3);
    var product2 = Model.Data.ProductBestseller.Take(3);
    var product3 = Model.Data.SpecialProduct.Take(3);
}
<div class="group-featured-product pt-60 pb-40 pb-xs-25">
    <div class="container">
        <div class="row">
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product">
                    <div class="li-section-title">
                        <h2>
                            <span>Feature Products</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            @foreach (var item in product1.ToList())
                            {
                                <div class="row">
                                    <div class="group-featured-pro-wrapper">
                                        <div class="product-img">
                                            <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                                <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                            </a>
                                            @if (item.CreateDate.CheckArriralItem())
                                            {
                                                <span class="sticker">New</span>
                                            }
                                        </div>
                                        <div class="featured-pro-content">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Studio Design</a>
                                                </h5>
                                            </div>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <h4><a class="featured-product-name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);
                                                    <span class="new-price new-price-2">@item.Currency@price</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product pt-sm-10 pt-xs-25">
                    <div class="li-section-title">
                        <h2>
                            <span>Bestseller Products</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            @foreach (var item in product2.ToList())
                            {
                                <div class="row">
                                    <div class="group-featured-pro-wrapper">
                                        <div class="product-img">
                                            <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                                <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                            </a>
                                            @if (item.CreateDate.CheckArriralItem())
                                            {
                                                <span class="sticker">New</span>
                                            }
                                        </div>
                                        <div class="featured-pro-content">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Studio Design</a>
                                                </h5>
                                            </div>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <h4><a class="featured-product-name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);
                                                    <span class="new-price new-price-2">@item.Currency@price</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
            <!-- Begin Featured Product Area -->
            <div class="col-lg-4">
                <div class="featured-product pt-sm-10 pt-xs-25">
                    <div class="li-section-title">
                        <h2>
                            <span>Special Products</span>
                        </h2>
                    </div>
                    <div class="featured-product-active-2 owl-carousel">
                        <div class="featured-product-bundle">
                            @foreach (var item in product3.ToList())
                            {
                                <div class="row">
                                    <div class="group-featured-pro-wrapper">
                                        <div class="product-img">
                                            <a asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">
                                                <img src="~/product_images/@item.Images.Split(",")[0]" alt="Li's Product Image">
                                            </a>
                                            @if (item.CreateDate.CheckArriralItem())
                                            {
                                                <span class="sticker">New</span>
                                            }
                                        </div>
                                        <div class="featured-pro-content">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="product-details.html">Studio Design</a>
                                                </h5>
                                            </div>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <h4><a class="featured-product-name" asp-action="singleproduct" asp-controller="products" asp-route-key="@item.ProductID.Protection()">@item.ProductName</a></h4>
                                            <div class="price-box">
                                                @if (item.DiscountValue != null && item.DiscountActive == true)
                                                {
                                                    var price = (item.DiscountValue.CalculateDiscountValue(item.Price, item.DiscountType)).FormartToDouble(item.Currency);
                                                    <span class="new-price new-price-2">@item.Currency@price</span>                 
                                                }
                                                else
                                                {
                                                    <span class="new-price">@item.Currency@item.Price</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Product Area End Here -->
        </div>
    </div>
</div>
<!-- Group Featured Product Area End Here -->