@model ModelProduct
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh worrying!</strong> @localizer.GetLocalizedHtmlString(ViewBag.Error)
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> @localizer.GetLocalizedHtmlString("You successfully create model.")
    </div>
}
<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("New Model")</h6>
    </div>
    <div class="ms-panel-body">
        <form class="needs-validation" novalidate asp-action="create" method="post">
            <div class="col-xl-12 col-md-12">
                <div class="form-row">
                    <div class="col-md-12">
                        <label>@localizer.GetLocalizedHtmlString("Model Name")</label> <span class="required-star">*</span>
                        <div class="input-group">
                            <input type="text" asp-for="ModelName" autocomplete="off" class="form-control" placeholder="@localizer.GetLocalizedHtmlString("Model name")" required>
                            <div class="valid-feedback">
                                @localizer.GetLocalizedHtmlString("Looks good!")
                            </div>
                            <div class="invalid-feedback">
                                @localizer.GetLocalizedHtmlString("Model name is required.")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" type="submit">@localizer.GetLocalizedHtmlString("Create")</button>
                        <a class="btn btn-primary" asp-action="index">@localizer.GetLocalizedHtmlString("Back to List")</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
