@model IEnumerable<Account>
<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("List Of Approval Users")</h6>
    </div>
    <div class="ms-panel-body">
        <div class="table-responsive">
            <table id="approval-user-list" class="table w-100 thead-primary">
                <thead>
                    <tr>
                        <th>@localizer.GetLocalizedHtmlString("No")</th>
                        <th>@localizer.GetLocalizedHtmlString("Account Name")</th>
                        <th>@localizer.GetLocalizedHtmlString("Phone Number")</th>
                        <th>@localizer.GetLocalizedHtmlString("Email")</th>
                        <th>@localizer.GetLocalizedHtmlString("Approval")</th>
                        <th class="text-center">@localizer.GetLocalizedHtmlString("Action")</th>
                    </tr>
                </thead>
                <tbody>
                    @{var index = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@index</td>
                             <td>
                                @if (item.Image == null)
                                {
                                    <img src="~/images/default.jpg" style="width:50px;height:30px;" />
                                }
                                else
                                {
                                    <img src="~/images/@item.Image" style="width:50px;height:30px;" />
                                }

                                @item.FullName
                            </td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            @if (item.Approval)
                            {
                                <td><span class="badge badge-success"> @localizer.GetLocalizedHtmlString("Approved")</span></td>
                            }
                            else { 
                                <td><span class="badge badge-primary"> @localizer.GetLocalizedHtmlString("Pending")</span></td>
                            }
                            <td class="text-center">
                                <div class="action-modify">
                                    <a asp-action="approvaldetail" asp-controller="account" asp-route-key="@item.Encryted"><i title="@localizer.GetLocalizedHtmlString("Approval User")" class="fa fa-check-square"></i></a>
                                </div>
                                <div class="action-modify">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"> @localizer.GetLocalizedHtmlString("Reset Password")</a>
                                        <a class="dropdown-item" href="#"> @localizer.GetLocalizedHtmlString("More Options")</a>
                                        
                                    </div>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/account/account.js" defer></script>