@model Account
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh worrying!</strong> @localizer.GetLocalizedHtmlString(ViewBag.Error)
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> @localizer.GetLocalizedHtmlString("You successfully approval user account.")
    </div>
}
<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("Approval Detail")</h6>
    </div>
    <div class="ms-panel-body">
        <div class="loading-show loading-hide">
            <img src='~/Images/lgloader.png' style="object-fit: cover;width :60px; height:60px;">
        </div>
        <form asp-action="approvaldetail" asp-controller="account" method="post">
            <input type="hidden" asp-for="Encryted" />
            <input type="hidden" asp-for="Email" />
            <div class="row col-modify">
                <div class="col-md-12">
                    @if (Model.Image != null)
                    {
                        <img class="d-block" style="height:220px; width:250px;" src="~/images/@Model.Image" alt="First slide"><br />
                    }
                    else
                    {
                        <img class="d-block" style="height:220px; width:250px;" src="~/images/default-avatar.webp" alt="First slide"><br />
                    }
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Account ID")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("First Name")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Last Name")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Full Name")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.FullName)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Start Data Profile")
                </div>
                <div class="col-sm-9">
                    @Model.StartDateProfile.ToString("dd-MMM-yyyy")
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Phone Number")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Email Address")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Status")
                </div>
                <div class="col-sm-9">
                    @if (Model.Status)
                    {
                        <span class="badge badge-success">@localizer.GetLocalizedHtmlString("Available")</span>
                    }
                    else
                    {
                        <span class="badge badge-primary">@localizer.GetLocalizedHtmlString("Unavailable")</span>
                    }
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Apporval")
                </div>
                <div class="col-sm-9">
                    @if (Model.Approval)
                    {
                        <span class="badge badge-success"> @localizer.GetLocalizedHtmlString("Approved")</span>
                    }
                    else
                    {
                        <span class="badge badge-primary"> @localizer.GetLocalizedHtmlString("Pending")</span>
                    }
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Shop")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CompanyID)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Create By")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CreateBy)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Create Date")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CreateDate)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Update By")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdateBy)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Update Date")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdateDate)
                </div>
            </div>
            <div class="text-right">
                @if (!Model.Approval)
                {
                    <button type="submit" id="approval-users" class="btn btn-primary">@localizer.GetLocalizedHtmlString("Approve")</button>
                }
                <a class="btn btn-primary" asp-action="approvaluser" asp-controller="account">@localizer.GetLocalizedHtmlString("Back to List")</a>
            </div>

        </form>
    </div>
</div>
<script>
    $("#approval-users").click(function () {
        $(".loading-show").removeClass("loading-hide");
    })
</script>