@{ 
    Layout = "_LayoutRegistor";
}
@model ResetPasswordViewMedel

<div class="ms-panel ms-panel-fh">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("Reset Password")</h6>
    </div>
    <div class="ms-panel-body ms-panel-fh">
        <form class="needs-validation" novalidate="" method="post" asp-action="resetpassword" asp-controller="account">
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="ms-auth-bg"></div>
                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-4 col-md-12">
                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Oh worrying!</strong> @localizer.GetLocalizedHtmlString(ViewBag.Error)
                        </div>
                    }
                    <div class="col-xl-12 col-md-12">
                        <h4>@localizer.GetLocalizedHtmlString("Reset password")</h4>
                        <p>@localizer.GetLocalizedHtmlString("Please enter your new password and confirm password to continue")</p>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="form-row">
                            <label for="validationCustom08">@localizer.GetLocalizedHtmlString("New Password")</label>
                            <div class="input-group">
                                <input asp-for="NewPassoword" type="password" class="form-control" id="validationCustom08" placeholder="@localizer.GetLocalizedHtmlString("New Password")" required="">
                                <div class="invalid-feedback">@localizer.GetLocalizedHtmlString("Please provide a valid new password.")</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="validationCustom09">@localizer.GetLocalizedHtmlString("Confirm New Password")</label>
                            <div class="input-group">
                                <input type="password" asp-for="ConfirmNewPassword" class="form-control" id="validationCustom09" placeholder="@localizer.GetLocalizedHtmlString("Confirm New Password")" required="">
                                <div class="invalid-feedback">@localizer.GetLocalizedHtmlString("Please provide a confirm.")</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <button class="btn btn-primary mt-4 d-block w-100" type="submit">@localizer.GetLocalizedHtmlString("Submit")</button>
                        <p class="mb-0 mt-3">
                            @localizer.GetLocalizedHtmlString("Not set")? <a asp-action="dashboard" asp-controller="home" asp-route-skip="skip">@localizer.GetLocalizedHtmlString("Skip")</a>
                        </p>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


