@model SubCategory
<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("View Sub Category")</h6>
    </div>
    <div class="ms-panel-body">
        <div class="col-xl-12 col-md-12">
            <div class="row col-modify">
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Sub Category ID")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.SubCategoryID)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Sub Category Name")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.SubCategoryName)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Category Name")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CategroyName)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Shop")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CompanyID)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Create By")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CreateBy)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Create Date")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.CreateDate)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Update By")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdateBy)
                </div>
                <div class="col-sm-3">
                    @localizer.GetLocalizedHtmlString("Update Date")
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdateDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-primary" asp-action="index">@localizer.GetLocalizedHtmlString("Back to List")</a>
            </div>
        </div>
    </div>
</div>
