@model Product

<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("Are you sure you want to delete this ?")</h6>
    </div>
    <div class="ms-panel-body">

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger" role="alert">
                <strong>Oh worrying!</strong> @localizer.GetLocalizedHtmlString(ViewBag.Error)
            </div>
        }
        <form class="needs-validation" novalidate asp-action="delete" method="post">
            <input type="hidden" asp-for="ProductID" />
            <div class="col-xl-12 col-md-12">
                <div class="form-row col-modify">
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Product ID")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductID)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Product Code")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductCode)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Product Name")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductName)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Category")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.CategoryName)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Sub Category")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.SubCategoryName)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Model")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.ModelName)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Uom")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.UomName)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Uom")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.UomName)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Qty")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Qty)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Price")
                    </div>
                    <div class="col-sm-9">
                        @ViewBag.Currency @Html.DisplayFor(model => model.Price)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Description")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">@localizer.GetLocalizedHtmlString("Delete")</button>
                    <a class="btn btn-primary" asp-action="index">@localizer.GetLocalizedHtmlString("Back to List")</a>
                </div>
            </div>
        </form>
    </div>
</div>
