@model MenuClass.MenuItem
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh worrying!</strong> @localizer.GetLocalizedHtmlString(ViewBag.Error)
    </div>
}
<div class="ms-panel">
    <div class="ms-panel-header">
        <h6>@localizer.GetLocalizedHtmlString("Are you sure you want to delete this ?")</h6>
    </div>
    <div class="ms-panel-body">
        <form class="needs-validation" novalidate asp-action="delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="col-xl-12 col-md-12">
                <div class="row col-modify">
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Menu Item ID")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Id)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Description")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Khmer Description")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.KhmerDescription)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Url")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Url)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Shop")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.CompanyId)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Create By")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.CreateBy)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Create Date")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.CreateDate)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Update By")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.UpdateBy)
                    </div>
                    <div class="col-sm-3">
                        @localizer.GetLocalizedHtmlString("Update Date")
                    </div>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.UpdateDate)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">@localizer.GetLocalizedHtmlString("Delete")</button>
                    <a class="btn btn-primary" asp-action="index">@localizer.GetLocalizedHtmlString("Back to List")</a>
                </div>
            </div>
        </form>
    </div>
</div>
